/.git
/.deployed_cache
/.yolk_git
.uuid

# Ignore bulky/secret profile files in eggs
eggs/**/Cache*/
eggs/**/Code Cache/
eggs/**/GPUCache/
eggs/**/CachedData/
eggs/**/CachedProfilesData/
eggs/**/logs/
eggs/**/User/globalStorage/
eggs/**/User/workspaceStorage/
eggs/**/machineid
eggs/**/code.lock
eggs/**/languagepacks.json
eggs/**/Local Storage/
eggs/**/IndexedDB/
eggs/**/WebStorage/
eggs/**/DawnGraphiteCache/
eggs/**/DawnWebGPUCache/
eggs/**/Shared Dictionary/
eggs/**/Crashpad/
eggs/**/ImapMail/
eggs/**/Mail/
eggs/**/storage/
eggs/**/datareporting/
eggs/**/extension-store-menus/
eggs/**/gmp-*
eggs/**/weave/
eggs/**/extensions/*.xpi
eggs/**/*.sqlite
eggs/**/*.sqlite-wal
eggs/**/*.sqlite-shm
eggs/**/*.db
eggs/**/*.db-shm
eggs/**/*.db-wal
eggs/**/*.vscdb
eggs/**/*.vscdb-wal
eggs/**/*.vscdb-shm
eggs/**/.parentlock
eggs/**/lock
eggs/**/Singleton*
eggs/**/Cookies*
eggs/**/Session Storage/
eggs/**/AlternateServices.bin
eggs/**/SiteSecurityServiceState.bin
eggs/**/times.json
eggs/**/signedInUser.json
eggs/**/autofill-profiles.json
eggs/**/broadcast-listeners.json
eggs/**/sessionCheckpoints.json
eggs/**/handlers.json
eggs/**/extension-preferences.json
eggs/**/folderCache.json
eggs/**/folderTree.json
eggs/**/mailViews.dat
eggs/**/pkcs11.txt
eggs/**/prefs.js
eggs/**/compatibility.ini
eggs/**/logins.json
eggs/**/logins-backup.json
eggs/**/logins.db
eggs/**/cert9.db
eggs/**/key4.db
eggs/**/Syno*
eggs/**/Telemetry*
eggs/**/Safe Browsing*
eggs/**/Cloud*
eggs/**/.megaCmd/

# Logs
*.log
eggs/**/*.log*

# Application State & Metadata
eggs/**/Network Persistent State
eggs/**/Preferences
eggs/**/Trust Tokens*
eggs/**/lockMCMD
eggs/**/megacmd.cfg
eggs/**/megacmd.version
eggs/**/session
eggs/**/installs.ini
eggs/**/profiles.ini
eggs/**/wtqcjdu6.default-release/
