/.git
/.deployed_cache
/.yolk_git
.uuid

# Ignore bulky/secret profile files in eggs
eggs/**/Cache/
eggs/**/Code Cache/
eggs/**/GPUCache/
eggs/**/*.sqlite
eggs/**/*.sqlite-wal
eggs/**/*.sqlite-shm
eggs/**/*.db
eggs/**/*.db-shm
eggs/**/*.db-wal
eggs/**/.parentlock
eggs/**/lock
eggs/**/Singleton*
eggs/**/Cookies*
eggs/**/Session Storage/
eggs/**/Local Storage/
eggs/**/IndexedDB/
eggs/**/WebStorage/
eggs/**/DawnGraphiteCache/
eggs/**/DawnWebGPUCache/
eggs/**/Shared Dictionary/
eggs/**/Crashpad/
eggs/**/ImapMail/
eggs/**/Mail/
eggs/**/storage/
eggs/**/datareporting/
eggs/**/extension-store-menus/
eggs/**/gmp-*
eggs/**/weave/
eggs/**/extensions/*.xpi
eggs/**/*.msf
eggs/**/*.lz4
eggs/**/*.mozlz4
eggs/**/AlternateServices.bin
eggs/**/SiteSecurityServiceState.bin
eggs/**/times.json
eggs/**/signedInUser.json
eggs/**/autofill-profiles.json
eggs/**/broadcast-listeners.json
eggs/**/sessionCheckpoints.json
eggs/**/handlers.json
eggs/**/extension-preferences.json
eggs/**/folderCache.json
eggs/**/folderTree.json
eggs/**/mailViews.dat
eggs/**/pkcs11.txt
eggs/**/prefs.js
eggs/**/compatibility.ini
eggs/**/logins.json
eggs/**/logins-backup.json
eggs/**/logins.db
eggs/**/cert9.db
eggs/**/key4.db
eggs/**/Syno*
eggs/**/Telemetry*
eggs/**/Safe Browsing*
eggs/**/Cloud*
eggs/**/.megaCmd/
