* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: #1d2021; /*#{< replace_color(theme.waybar.transparent_bg) >}*/
    color: #ebdbb2;  /*#{< replace_color(theme.waybar.main_fg) >};*/
}

tooltip {
    background: #3c3836; /*#{< replace_color(theme.waybar.main_bg) >};*/
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #282828; /*#{< replace_color(theme.waybar.alt_bg) >};*/
}

#workspaces button {
    padding: 5px;
    color: #928374; /*#{< replace_color(theme.waybar.ws_inactive_fg) >};*/
    margin-right: 5px;
}

#workspaces button.active {
    background-color: #000; /*#{< replace_color(theme.waybar.ws_active_bg) >};*/
}

#workspaces button.focused {
    color: #ebdbb2; /*#{< replace_color(theme.waybar.ws_focused_fg) >};*/
    background: #fbf1c7; /*#{< replace_color(theme.waybar.ws_focused_bg) >};*/
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #282828; /*#{< replace_color(theme.waybar.alt_bg) >};*/
    background: #8ec07c; /*#{< replace_color(theme.waybar.ws_urgent_bg) >};*/
    border-radius: 10px;
}

#workspaces button:hover {
    background: #282828; /*#{< replace_color(theme.waybar.alt_bg) >};*/
    color: #ebdbb2; /*#{< replace_color(theme.waybar.main_fg) >};*/
    border-radius: 5px;
}

#custom-power_profile,
#taskbar,
#custom-weather,
#custom-moon,
#custom-wallpaper,
#window,
#cava,
#clock,
#battery,
#cpu,
#pulseaudio,
#memory,
#network,
#bluetooth,
#custom-temperature,
#custom-memory,
#workspaces,
#tray,
#backlight {
    background: #3c3836; /*#{< replace_color(theme.waybar.main_bg) >};*/
    opacity: 0.8;
    padding: 0px 10px;
    /* margin: 3px 0px; */
    margin: 0px 0px;
    margin-top: 10px;
    border: 1px solid #1d2021; /*#{< replace_color(theme.waybar.border) >};*/
}

#custom-memory {
    color: #fb4934; /*#{< replace_color(theme.waybar.red) >};*/
}

#cpu {
    border-radius: 10px 0px 0px 10px;
}

/*#custom-temperature.critical {*/
/*    color: #f00;*/
/*}*/

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #3c3836; /*#{< replace_color(theme.waybar.main_bg) >};*/
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #8ec07c; /*#{< replace_color(theme.waybar.green_aqua) >};*/
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #fe8019; /*#{< replace_color(theme.waybar.orange) >};*/
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
    border-right: 0px;
}

#network {
    color: #fabd2f; /*#{< replace_color(theme.waybar.yellow) >};*/
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #83a598; /*#{< replace_color(theme.waybar.blue) >};*/
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px
} 

#pulseaudio {
    color: #83a598; /*#{< replace_color(theme.waybar.blue) >};*/
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #d3869b; /*#{< replace_color(theme.waybar.purple) >};*/
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#battery {
    color: #b8bb26; /*#{< replace_color(theme.waybar.green) >}*/
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}
#battery.warning {
    color: #d65d0e; /*#{< replace_color(theme.waybar.warning) >};*/
}
#battery.critical {
    color: #F00; /*#{< replace_color(theme.waybar.critical) >};*/
} 
#taskbar {
    margin-left: 10px;
    border-radius: 10px;
}
#custom-moon {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
